<head>
  <link rel="stylesheet" href="/styles/styles.css">
  <link rel="stylesheet" href="/styles/jquery-ui.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="/js/jquery-3.6.0.min.js"><\/script>')</script>
  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
  <script>jQuery.ui || document.write('<script src="/js/jquery-ui-1.12.1.min.js"><\/script>')</script>
  <script src="/js/navbar.js"></script>
  <script src="/js/form.js"></script>
</head>
<body>
  {{!-- There's code in form.js to fill in this nav with the navbar template. --}}
  <nav id="titlebar"></nav>
  {{!-- Main document body. onclick event to close the nav (if open) when this area is clicked. --}}
  <div id="main" onclick="closeNav()">
    <h1 class="centered">Players</h1>
    <table class="centered">
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Character</th>
      </tr>
      {{#each list}}
      <tr>
        {{!-- For each player, list their ID and name. --}}
        <td>{{this.user_id}}</td>
        <td>{{this.player_name}}</td>
        {{#if this.character_id}}
        {{!-- If the player has a character, show that character's name. --}}
        <td>{{this.character_name}}</td>
        {{else}}
        {{!-- If the player doesn't have a character, provide a button to create one. --}}
        <td>
          <span>Add Character: </span>
          <button id="addCharManButton" type="button" onclick="manualAddCharacter({{this.user_id}})">Add Character</button>
          {{!-- TODO: <button id="addCharAutoButton" type="button" onclick="autoAddCharacter({{this.player_id}})">Auto</button> --}}
        </td>
        {{/if}}
      </tr>
      {{/each}}
      {{!-- Add one final row to contain a form for adding more players. --}}
      <tr>
        <td></td>
        <td>
          <form id="addPlayerForm">
            <input id="playerName" class="inlineFormElement" name="name" type="text" required="required" maxlength="100" />
            <input id="newPlayerSubmit" class="inlineFormElement" type="submit" value="Add Player" />
          </form>
        </td>
      </tr>
    </table>

    <div id="addCharacterBody" class="hidden">
      <button id="closeAddCharacter" type="button" onclick="closeAddCharacter()">
        Close
      </button>
      <h2 class="centered">Add Character</h2>
      <form id="addCharacterForm">
        <input id="characterPlayerId" name="player_id" type="hidden" />
        <table class="centered">
          <tr>
            <td><label for="name">Name:</label></td>
            <td></td>
            <td><input id="characterName" name="name" type="text" required="required" maxLength="100" /></td>
          </tr>

          <tr>
            <td><label for="abbr">Abbreviation:</label></td>
            <td></td>
            <td><input id="characterAbbr" name="abbr" type="text" required="required" maxLength="10" /></td>
          </tr>

          <tr>
            <td><label for="birth_roll">Birth Class:</label></td>
            <td><span title="Roll 1d6 and enter it here." class="tooltipIcon">?</span></td>
            <td><input id="characterBirth" name="birth_roll" type="number" min="1" max="6" required="required" />
          </tr>

          <tr>
            <td><label for="sib_roll">Sibling Rank:</label></td>
            <td><span title="Roll 1d6 and enter it here." class="tooltipIcon">?</span></td>
            <td><input id="characterSib" name="sib_roll" type="number" min="1" max="6" required="required" />
          </tr>

          <tr>
            <td><label for="orphan_roll">Orphan Roll:</label></td>
            <td><span title="If you got a 1 on the Sibling Rank, roll 1d6 and enter it here." class="tooltipIcon">?</span></td>
            <td><input id="characterOrphan" name="orphan_roll" type="number" min="1" max="6" />
          </tr>

          <tr>
            <td><label for="father_roll">Father's Position:</label></td>
            <td><span title="Roll 1d6 and enter it here." class="tooltipIcon">?</span></td>
            <td><input id="characterFather" name="father_roll" type="number" min="1" max="6" required="required" />
          </tr>

          <tr>
            <td><label for="title_roll">Father's Title:</label></td>
            <td><span title="If you got a 5 or 6 on the Birth Class roll, roll 1d6 and enter it here." class="tooltipIcon">?</span></td>
            <td><input id="characterFatherTitle" name="title_roll" type="number" min="1" max="6" />
          </tr>

          <tr>
            <td><label for="strength">Strength:</label></td>
            <td><span title="Roll 3d6." class="tooltipIcon">?</span></td>
            <td><input id="characterStrength" name="strength" type="number" min="3" max="18" required="required" /></td>
          </tr>

          <tr>
            <td><label for="expertise">Expertise:</label></td>
            <td><span title="Roll 3d6." class="tooltipIcon">?</span></td>
            <td><input id="characterExpertise" name="expertise" type="number" min="3" max="18" required="required" /></td>
          </tr>

          <tr>
            <td><label for="constitution">Constitution:</label></td>
            <td><span title="Roll 3d6." class="tooltipIcon">?</span></td>
            <td><input id="characterConstitution" name="constitution" type="number" min="3" max="18" required="required" /></td>
          </tr>

          <tr>
            <td><label for="military_ability">Military Ability:</label></td>
            <td><span title="Roll 1d6." class="tooltipIcon">?</span></td>
            <td><input id="characterMa" name="military_ability" type="number" min="1" max="6" required="required" /></td>
          </tr>

          <tr>
            <td colspan="3"><input id="newCharacterSubmit" type="submit" value="Create Character" /></td>
          </tr>
        </table>
      </form>
    </div>
  </div>
</body>